/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/build/
/compile_commands.json

*.autosave
*.creator.*
*.user


.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.log
*.qm

/bin/
/lib/
/obj/
/out/
*.o
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out
